.get_tittle {
  color: $color-purple-light;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  padding-inline: 44px;
  margin-bottom: 36px;

  @media (min-width: 481px) {
    padding-inline: 0px;
    font-size: 42px;
    line-height: 44px;
  }

  @media (min-width: 993px) {
    display: block;
    text-align: left;
    font-size: 40px;
    line-height: 50px;
    order: 2;
    margin-left: 20px;
  }

  @media (min-width: 1135px) {
    font-size: 48px;
  }
}

.get-content {
  display: flex;
  flex-direction: column;

  @media (min-width: 481px) {
    padding-top: 90px;
  }

  @media (min-width: 993px) {
    display: grid;
    grid-template-columns: 52% 48%;
    grid-template-rows: 46px 1fr;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    @media (min-width: 481px) {
      display: grid;
      margin-bottom: 50px;

      grid-template-columns: 111px 1fr;
    }

    @media (min-width: 993px) {
      display: grid;
      grid-template-columns: 111px 1fr;
      margin-bottom: 35px;
    }

    &__img {
      margin-bottom: 27px;
      @media (min-width: 481px) {
      }

      @media (min-width: 993px) {
        margin-bottom: 17px;
      }
    }
    &__desc {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width: 481px) {
        align-items: normal;
        margin-left: 10px;
      }

      @media (min-width: 993px) {
      }

      &__tittle {
        margin-bottom: 14px;
        color: $color-dark;
        font-family: $font-primary;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;

        @media (min-width: 481px) {
          margin-bottom: 5px;
          font-size: 16px;
          font-weight: 400;
          line-height: 21px;
        }

        @media (min-width: 993px) {
          margin-bottom: 10px;
        }
      }
      &__text {
        color: $color-light;
        text-align: center;
        font-family: $font-secondary;
        font-size: 14px;
        line-height: 21px;

        @media (min-width: 481px) {
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          text-align: left;
        }

        @media (min-width: 993px) {
        }
      }
    }
  }

  &__card:nth-child(4) {
    margin-bottom: 71px;
  }

  &__img {
    width: 100%;
    height: 100%;
    // object-fit: cover;

    @media (min-width: 481px) {
      margin-top: 0;
    }
    @media (min-width: 993px) {
      padding-top: 18px;
      padding-bottom: 33px;
      margin-top: 0;
      order: 3;
    }
  }
}

.img-container {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: column;
  padding-inline: 15px;

  @media (min-width: 481px) {
    padding-inline: 50px;
  }
  @media (min-width: 993px) {
    margin-right: 30px;
    padding-inline: 5px;
    justify-content: space-between;
    grid-row: span 2;
    order: 1;
  }
}

.asa {
  padding-right: 0;
  padding-left: 0;
  @media (min-width: 481px) {
    padding-left: 15px;
  }
}
