body {

}

.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  @media (min-width: 993px) {
    padding: 0 80px;
  }
}

.header {
  background: #27262A;
  @media (min-width: 993px) {
    background: #010005;
  }
}

.header__nav {
  @include f-column;
  gap: 22px;
  padding: 31px 0;
  @media (min-width: 481px) {
    padding: 22px 0 20px;
  }
  @media (min-width: 993px) {
    padding: 30px 0;
  }
}


.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (min-width: 481px) {
    flex-wrap: wrap;
  }
  @media (min-width: 993px) {
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
}

.header__icon {
  display: flex;
  align-items: center;
  gap: 17px;

  &:hover {
    cursor: pointer;
  }

  &:hover .header__name {
    color: $color-white;
  }

  &:hover .header__logo {
    display: none;
  }

  &:hover .header__logo-hover {
    display: block;
  }

  @media (min-width: 481px) {
    padding-right: 100px;
  }
  @media (min-width: 993px) {
    padding-right: 0;
    order: 1;
    margin-right: auto;
  }
}

.header__logo-hover {
  display: none;
}

.header__name {
  color: $color-purple-light;
  font-family: $font-secondary;
  font-size: 24px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  display: none;
  @media (min-width: 481px) {
    display: block;
  }
}

.header__btn {
  color: $color-white;
  font-family: $font-primary;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  padding: 11px 20px;
  border-radius: 40px;
  background: $color-purple-light;

  &:hover {
    color: $color-purple-light;
    background: $color-white;
    cursor: pointer;
  }

  @media (min-width: 993px) {
    order: 3;
    margin-left: 48px;
  }
}

.header__menu {
  color: $color-purple-light;
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  display: none;
  @media (min-width: 481px) {
    display: flex;
    justify-content: space-between;
    margin: 23px auto 0;
    min-width: 445px;
    width: 67%;
  }
  @media (min-width: 993px) {
    max-width: 527px;
    width: 44%;
    margin: 0;
    order: 2
  }
}

.header__link-wide:hover {
  color: $color-white;
}

.header__line {
  height: 3px;
  width: 26px;
  background: $color-white;
  transform: scale(1);
}

.header__burger {
  width: 26px;
  height: 26px;
  background: #27262A;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    height: 3px;
    width: 16px;
    background: $color-white;
    top: 3px;
    right: 0;
    transition: 0.3s;
  }

  &:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 26px;
    background: $color-white;
    bottom: 3px;
    transition: 0.3s;
  }

  @media (min-width: 481px) {
    display: none;
  }
}

.header__burger.active .header__line {
  transform: scale(0);
}

.header__burger.active:before {
  width: 26px;
  top: 44%;
  transform: rotate(-45deg);
}

.header__burger.active:after {
  bottom: 45%;
  transform: rotate(45deg);
}

.header__drop-down {
  width: 92%;
  height: 378px;
  background: #333333;
  @include f-column;
  position: absolute;
  top: 103px;
  right: 16px;
  color: #d0d0d0;
  font-family: $font-primary;
  font-size: 26px;
  font-weight: 400;
  line-height: 90px;
  text-transform: capitalize;
  margin: 0 auto;
  visibility: hidden;
  @media (min-width: 481px) {
    display: none;
  }
}

.visible {
  visibility: visible;
  transition: 0.3s;
}

.header__link {
  padding-left: 40px;
  border: #3b3b3b solid 1px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    height: 53px;
    width: 8px;
    background: #333333;
    top: 18px;
    left: 0;
  }

  &:active {
    &:before {
      background: $color-purple-light;
    }
  }

  &:focus {
    &:before {
      background: $color-purple-light;
    }
  }
}

.hero {
  background: url("../images/hero.png") center;
  background-size: cover;
  padding: 49px 0 409px;
  margin-top: -1px;
  @media (min-width: 481px) {
    padding: 69px 0 464px;
  }
  @media (min-width: 993px) {
    padding: 83px 0 452px;
  }
}

.hero__title {
  color: $color-white;
  font-family: $font-primary;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  @media (min-width: 481px) {
    font-size: 72px;
    line-height: 72px;
  }
  @media (min-width: 993px) {
    font-size: 82px;
    line-height: 82px;
  }
}

.hero__subtitle {
  color: $color-purple-light;
  text-align: center;
  font-family: $font-secondary;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 19px;
  text-transform: capitalize;
  @media (min-width: 481px) {
    font-size: 24px;
    text-transform: none;
  }
  @media (min-width: 993px) {
    font-size: 30px;
    line-height: 30px;
  }
}

.hero__txt {
  color: $color-light;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 14px;
  @media (min-width: 481px) {
    margin-top: 19px;
  }
  @media (min-width: 993px) {
    font-size: 16px;
  }
}

.bottom {
  position: relative;
  @include f-column;
  align-items: center;
  height: 70px;
}

.bottom__btn {
  color: $color-white;
  font-family: $font-primary;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-transform: capitalize;
  padding: 15px 29px;
  border-radius: 40px;
  background: $color-purple-light;
  position: absolute;
  top: -25px;
  @media (min-width: 481px) {
    font-size: 21px;
    line-height: 23px;
    padding: 15px 61px;
  }

  &:hover {
    color: $color-purple-light;
    background: #FFFFFF;
    border: 1px solid $color-purple-light;
    cursor: pointer;
  }
}

.bottom__txt {
  color: $color-light;
  font-family: $font-primary;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: capitalize;
  position: absolute;
  bottom: 22px;
  @media (min-width: 481px) {
    bottom: 18px;
  }
}