.price-container {
  margin-top: -12px;
  background-image: url(../images/Layer2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.price-tittle {
  color: $color-white;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  padding-bottom: 32px;
  padding-inline: 20px;

  @media (min-width: 481px) {
    // margin-top: 80px;
    font-size: 42px;
    line-height: 44px;
    margin-bottom: 32px;
  }

  @media (min-width: 993px) {
    font-size: 48px;
    line-height: 50px;
    // margin-block: 80px;
  }
}

.price-cards {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  gap: 20px;
  @media (min-width: 481px) {
    gap: 50px 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  @media (min-width: 993px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  &__card {
    display: flex;
    flex-direction: column;
    max-width: 257px;
    min-width: 180px;
    flex-shrink: 1;

    &__header {
      background-color: rgb(255, 255, 255, 0.06);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 36px 60px;

      &__tittle {
        color: $color-white;
        text-align: center;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
      }
    }

    &__main {
      display: flex;
      flex-direction: column;
      height: 350px;
      align-items: center;
      justify-content: space-between;
      background-color: rgb(255, 255, 255, 0.11);

      &__price {
        color: $color-white;
        font-size: 60px;
        font-weight: 700;
        line-height: 62px;
        text-transform: uppercase;
        margin-block: 30px 20px;
      }

      &__interval {
        color: $color-white;
        text-align: center;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        margin-bottom: 73px;
        position: relative;
      }

      &__interval::after {
        position: absolute;
        top: 45px;
        left: calc(50% - 30px);
        content: "";
        width: 60px;
        height: 5px;
        background: #8d81ac;
      }

      &__service {
        color: $color-white;
        text-align: center;
        font-size: 16px;
        line-height: 18px;
        height: 20px;
        width: 170px;
        margin-bottom: 39px;
      }

      &__button {
        margin-bottom: 39px;
        border-radius: 100px;
        min-width: 160px;
        min-height: 42px;
        border: 0;
        background-color: rgb(255, 255, 255, 0.15);
        color: $color-white;
        text-align: center;
        font-size: 15px;
        line-height: 17px;
        text-transform: uppercase;
      }

      &__button:hover {
        cursor: pointer;
      }
    }
  }
}

.third-card {
  scale: 1.08;
  margin-block: 10px;
  background-color: rgba(70, 48, 72, 0.84);
  @media (min-width: 481px) {
    scale: 1.15;
    margin-left: -15px;
  }
  @media (min-width: 993px) {
    scale: 1.25;
    margin-inline: 20px;
  }
}

.price-content {
  padding-top: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 481px) {
    padding-top: 88px;
  }
  @media (min-width: 993px) {
    padding-top: 112px;
  }
}
