.editor-content {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__tittle {
    padding-inline: 24px;
    color: $color-purple-dark;
    text-align: center;
    font-family: $font-primary;
    font-size: 26px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 27px;

    @media (min-width: 481px) {
      padding-inline: 79px 90px;
      font-size: 42px;
      line-height: 42px;
    }

    @media (min-width: 993px) {
      font-size: 54px;
      line-height: 54px;
    }
  }

  &__desc {
    padding-inline: 5px;
    color: $color-dark;
    text-align: center;
    font-family: $font-secondary;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 36px;

    @media (min-width: 481px) {
      padding-inline: 40px;
      text-align: center;
      font-size: 21px;
      line-height: 32px;
    }

    @media (min-width: 993px) {
      padding-inline: 80px 80px;
      font-size: 21px;
      line-height: 32px;
    }
  }

  &__statistics {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-inline: 20px;
    gap: 15px;
    margin-bottom: 146px;

    @media (min-width: 481px) {
      margin-bottom: 70px;
      padding-inline: 20px;
    }

    &__button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid rgb(200, 200, 200);
      height: 26px;
      border-radius: 5px;

      &__content {
        background-color: rgba(103, 99, 99, 0.114);
        display: flex;
        align-items: center;
        border-right: 1px solid rgb(200, 200, 200);
        padding: 5px;
      }
      &__content:hover {
        cursor: pointer;
      }
    }
  }
}

.button-content__text {
  font-weight: 900;
  font-size: 13px;
  margin-left: 3px;
  margin-top: 1px;
}

.statistic {
  font-weight: 900;
  font-size: 12px;
  padding-inline: 5px;
}

.svg-icon {
  width: 15px;
}

.get-container {
  @media (min-width: 993px) {
    background-color: $background-uget;
  }
}
