.talking {
  background: url("../images/testmonials-bg.png") center;
  background-size: cover;
}

.talking__wrapper {
  padding: 57px 0 22px;
  margin: 0 auto;
  @media (min-width: 481px) {
    padding: 86px 0 20px;
  }
  @media (min-width: 993px) {
    padding: 108px 0 18px;
  }
}

.talking__title {
  color: $color-white;
  text-align: center;
  font-family: $font-primary;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-transform: capitalize;
  @media (min-width: 481px) {
    font-size: 42px;
    line-height: 44px;
  }
  @media (min-width: 993px) {
    font-size: 48px;
    line-height: 50px;
  }
}

.talking__content {
  @include f-column;
  margin-top: 8px;
  @media (min-width: 481px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 8%;
    margin-top: 30px;
  }
  @media (min-width: 993px) {
    margin-top: -31px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.talking__item {
  @include f-column;
  align-items: center;
  margin-top: 45px;
  gap: 33px;
  @media (min-width: 481px) {
    margin-top: 58px;
  }
  @media (min-width: 993px) {
    margin-top: 116px;
  }
}

.talking__logo {
  height: 64px;
  display: flex;
  align-items: center;
}

.talking__txt {
  color: $color-white;
  text-align: center;
  font-family: $font-secondary;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  line-height: 24px;
}

.talking__paragraph {
  color: #a291a5;
  text-align: center;
  font-family: $font-secondary;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 37px auto 0;
  position: relative;
  @media (min-width: 481px) {
    margin-top: 68px;
  }
  @media (min-width: 993px) {
    margin-top: 118px;
    width: 887px;
  }

  &:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: #645766;
    bottom: -11px;
    right: 0;
    @media (min-width: 481px) {
      width: 90%;
      right: 5%;
    }
  }
}
