/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  vertical-align: baseline;
  color: inherit;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  min-width: 320px;
  margin: 0 auto;
}

.header {
  background: #27262A;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}
@media (min-width: 993px) {
  .container {
    padding: 0 80px;
  }
}

.header__nav {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 31px 0;
}
@media (min-width: 481px) {
  .header__nav {
    padding: 22px 0 20px;
  }
}
@media (min-width: 993px) {
  .header__nav {
    padding: 30px 0;
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 481px) {
  .header__top {
    flex-wrap: wrap;
  }
}
@media (min-width: 993px) {
  .header__top {
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
}

.header__icon {
  display: flex;
  align-items: center;
  gap: 17px;
}
.header__icon:hover {
  cursor: pointer;
}
.header__icon:hover .header__name {
  color: #fff;
}
.header__icon:hover .header__logo {
  display: none;
}
.header__icon:hover .header__logo-hover {
  display: block;
}
@media (min-width: 481px) {
  .header__icon {
    padding-right: 100px;
  }
}
@media (min-width: 993px) {
  .header__icon {
    padding-right: 0;
    order: 1;
    margin-right: auto;
  }
}

.header__logo-hover {
  display: none;
}

.header__name {
  color: #8D81AC;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  display: none;
}
@media (min-width: 481px) {
  .header__name {
    display: block;
  }
}

.header__btn {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  padding: 11px 20px;
  border-radius: 40px;
  background: #8D81AC;
}
.header__btn:hover {
  color: #8D81AC;
  background: #fff;
  cursor: pointer;
}
@media (min-width: 993px) {
  .header__btn {
    order: 3;
    margin-left: 48px;
  }
}

.header__menu {
  color: #8D81AC;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  display: none;
}
@media (min-width: 481px) {
  .header__menu {
    display: flex;
    justify-content: space-between;
    margin: 23px auto 0;
    min-width: 445px;
    width: 67%;
  }
}
@media (min-width: 993px) {
  .header__menu {
    max-width: 527px;
    width: 44%;
    margin: 0;
    order: 2;
  }
}

.header__link-wide:hover {
  color: #fff;
}

.header__line {
  height: 3px;
  width: 26px;
  background: #fff;
  transform: scale(1);
}

.header__burger {
  width: 26px;
  height: 26px;
  background: #27262A;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__burger:before {
  content: "";
  position: absolute;
  height: 3px;
  width: 16px;
  background: #fff;
  top: 3px;
  right: 0;
  transition: 0.3s;
}
.header__burger:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 26px;
  background: #fff;
  bottom: 3px;
  transition: 0.3s;
}
@media (min-width: 481px) {
  .header__burger {
    display: none;
  }
}

.header__burger.active .header__line {
  transform: scale(0);
}

.header__burger.active:before {
  width: 26px;
  top: 44%;
  transform: rotate(-45deg);
}

.header__burger.active:after {
  bottom: 45%;
  transform: rotate(45deg);
}

.header__drop-down {
  width: 92%;
  height: 378px;
  background: #333333;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 103px;
  right: 16px;
  color: #d0d0d0;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 90px;
  text-transform: capitalize;
  margin: 0 auto;
  visibility: hidden;
}
@media (min-width: 481px) {
  .header__drop-down {
    display: none;
  }
}

.visible {
  visibility: visible;
  transition: 0.3s;
}

.header__link {
  padding-left: 40px;
  border: #3b3b3b solid 1px;
  position: relative;
}
.header__link:before {
  content: "";
  position: absolute;
  height: 53px;
  width: 8px;
  background: #333333;
  top: 18px;
  left: 0;
}
.header__link:active:before {
  background: #8D81AC;
}
.header__link:focus:before {
  background: #8D81AC;
}

.header__hero {
  background: url("../images/hero.png") center;
  background-size: cover;
  padding: 49px 0 409px;
}
@media (min-width: 481px) {
  .header__hero {
    padding: 69px 0 464px;
  }
}
@media (min-width: 993px) {
  .header__hero {
    padding: 83px 0 452px;
  }
}

.header__title {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}
@media (min-width: 481px) {
  .header__title {
    font-size: 72px;
    line-height: 72px;
  }
}
@media (min-width: 993px) {
  .header__title {
    font-size: 82px;
    line-height: 82px;
  }
}

.header__subtitle {
  color: #8D81AC;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 19px;
  text-transform: capitalize;
}
@media (min-width: 481px) {
  .header__subtitle {
    font-size: 24px;
    text-transform: none;
  }
}
@media (min-width: 993px) {
  .header__subtitle {
    font-size: 30px;
    line-height: 30px;
  }
}

.header__txt {
  color: #848e97;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 14px;
}
@media (min-width: 481px) {
  .header__txt {
    margin-top: 19px;
  }
}
@media (min-width: 993px) {
  .header__txt {
    font-size: 16px;
  }
}

.header__bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70px;
}

.header__action {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-transform: capitalize;
  padding: 15px 29px;
  border-radius: 40px;
  background: #8D81AC;
  position: absolute;
  top: -25px;
}
@media (min-width: 481px) {
  .header__action {
    font-size: 21px;
    line-height: 23px;
    padding: 15px 61px;
  }
}
.header__action:hover {
  color: #8D81AC;
  background: #FFFFFF;
  border: 1px solid #8D81AC;
  cursor: pointer;
}

.header__paragraph {
  color: #848e97;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: capitalize;
  position: absolute;
  bottom: 22px;
}
@media (min-width: 481px) {
  .header__paragraph {
    bottom: 18px;
  }
}

.talking {
  background: url("../images/testmonials-bg.png") center;
  background-size: cover;
}

.talking__wrapper {
  padding: 57px 0 22px;
  margin: 0 auto;
}
@media (min-width: 481px) {
  .talking__wrapper {
    padding: 86px 0 20px;
  }
}
@media (min-width: 993px) {
  .talking__wrapper {
    padding: 108px 0 18px;
  }
}

.talking__title {
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-transform: capitalize;
}
@media (min-width: 481px) {
  .talking__title {
    font-size: 42px;
    line-height: 44px;
  }
}
@media (min-width: 993px) {
  .talking__title {
    font-size: 48px;
    line-height: 50px;
  }
}

.talking__content {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}
@media (min-width: 481px) {
  .talking__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 8%;
    margin-top: 30px;
  }
}
@media (min-width: 993px) {
  .talking__content {
    margin-top: -31px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.talking__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;
  gap: 33px;
}
@media (min-width: 481px) {
  .talking__item {
    margin-top: 58px;
  }
}
@media (min-width: 993px) {
  .talking__item {
    margin-top: 116px;
  }
}

.talking__logo {
  height: 64px;
  display: flex;
  align-items: center;
}

.talking__txt {
  color: #fff;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  line-height: 24px;
}

.talking__paragraph {
  color: #A291A5;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 37px auto 0;
  position: relative;
}
@media (min-width: 481px) {
  .talking__paragraph {
    margin-top: 68px;
  }
}
@media (min-width: 993px) {
  .talking__paragraph {
    margin-top: 118px;
    width: 887px;
  }
}
.talking__paragraph:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: #645766;
  bottom: -11px;
  right: 0;
}
@media (min-width: 481px) {
  .talking__paragraph:after {
    width: 90%;
    right: 5%;
  }
}

/*# sourceMappingURL=style.css.map */
