<section class="get-container">
  <div class="asa container">
    <div class="get-content">
      <h2 class="get_tittle">&lt;Here is what you get&gt;</h2>
      <div class="cards">
        <div class="get-content__card">
          <div>
            <img class="get-content__card__img" src="images/icon1.png" alt="" />
          </div>
          <div class="get-content__card__desc">
            <p class="get-content__card__desc__tittle">
              Creatred to Make The Web Better
            </p>
            <p class="get-content__card__desc__text">
              Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
              laoreet vulputate dignissim. Sed id metus id quam auctor molestie
              eget ut augue.
            </p>
          </div>
        </div>
        <div class="get-content__card">
          <div class="img-container">
            <img class="get-content__card__img" src="images/icon2.png" alt="" />
          </div>

          <div class="get-content__card__desc">
            <p class="get-content__card__desc__tittle">
              Incredibly Powerful Tool
            </p>
            <p class="get-content__card__desc__text">
              Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
              odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
              gravida luctus. Aliquam erat volutpat.
            </p>
          </div>
        </div>
        <div class="get-content__card">
          <div class="img-container">
            <img class="get-content__card__img" src="images/icon3.png" alt="" />
          </div>

          <div class="get-content__card__desc">
            <p class="get-content__card__desc__tittle">Experimental Stuff</p>
            <p class="get-content__card__desc__text">
              Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
              odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
              gravida luctus. Aliquam erat volutpat.
            </p>
          </div>
        </div>
        <div class="get-content__card">
          <div class="img-container">
            <img class="get-content__card__img" src="images/icon4.png" alt="" />
          </div>

          <div class="get-content__card__desc">
            <p class="get-content__card__desc__tittle">
              Creatred to Make The Web Better
            </p>
            <p class="get-content__card__desc__text">
              Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
              odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
              gravida luctus. Aliquam erat volutpat.
            </p>
          </div>
        </div>
      </div>

      <img class="get-content__img" src="images/editor1.png" alt="" />
    </div>
  </div>
</section>
