<header class="header">
    <div class="container">
        <nav class="header__nav">
            <div class="header__top">
                <div class="header__icon">
                    <img class="header__logo" src="images/logo.png" alt="logo">
                    <img class="header__logo-hover" src="images/logo-hover.png" alt="logo">
                    <p class="header__name">ForkIO</p>
                </div>
                <a class="header__btn">Buy Now</a>
                <ul class="header__menu">
                    <li><a class="header__link-wide" href="#">Overview</a></li>
                    <li><a class="header__link-wide" href="#">About Fork</a></li>
                    <li><a class="header__link-wide" href="#">Buying Options</a></li>
                    <li><a class="header__link-wide" href="#">Support</a></li>
                </ul>
                <div class="header__burger">
                    <span class="header__line"></span>
                </div>
            </div>
            <div class="header__drop-down">
                <a class="header__link" href="#">Overview</a>
                <a class="header__link" href="#">About Fork</a>
                <a class="header__link" href="#">Buying Options</a>
                <a class="header__link" href="#">Support</a>
            </div>
        </nav>
    </div>
</header>
<section class="hero">
    <div class="container">
        <h1 class="hero__title">Fork App</h1>
        <h2 class="hero__subtitle">A real gamechanger in the world of web development</h2>
        <p class="hero__txt">v. 2.8 For Mac and Windows</p>
    </div>
</section>
<section class="bottom">
    <a class="bottom__btn">Download For Free Now</a>
    <p class="bottom__txt">Unlimited 30-Days Trial Period</p>
</section>


