<section class="price-container">
  <div class="container">
    <div class="price-content">
      <h2 class="price-tittle">Fork Subscription Pricing</h2>
      <div class="price-cards">
        <div class="price-cards__card">
          <div class="price-cards__card__header">
            <span class="price-cards__card__header__tittle"> Students </span>
          </div>
          <div class="price-cards__card__main">
            <span class="price-cards__card__main__price"> $29</span>
            <span class="price-cards__card__main__interval">per month</span>
            <span class="price-cards__card__main__service"
              >Personal License</span
            >
            <button class="price-cards__card__main__button">purchase</button>
          </div>
        </div>
        <div class="price-cards__card">
          <div class="price-cards__card__header">
            <span class="price-cards__card__header__tittle">
              professional
            </span>
          </div>
          <div class="price-cards__card__main">
            <span class="price-cards__card__main__price"> $59</span>
            <span class="price-cards__card__main__interval">per month</span>
            <span class="price-cards__card__main__service"
              >Professional License Email Support</span
            >
            <button class="price-cards__card__main__button">purchase</button>
          </div>
        </div>
        <div class="price-cards__card third-card">
          <div class="price-cards__card__header">
            <span class="price-cards__card__header__tittle"> agency </span>
          </div>
          <div class="price-cards__card__main">
            <span class="price-cards__card__main__price"> $99</span>
            <span class="price-cards__card__main__interval">per month</span>
            <span class="price-cards__card__main__service"
              >1-12 Team Members Phone Support</span
            >
            <button class="price-cards__card__main__button">purchase</button>
          </div>
        </div>
        <div class="price-cards__card">
          <div class="price-cards__card__header">
            <span class="price-cards__card__header__tittle"> enterprise </span>
          </div>
          <div class="price-cards__card__main">
            <span class="price-cards__card__main__price"> $159</span>
            <span class="price-cards__card__main__interval">per month</span>
            <span class="price-cards__card__main__service"
              >Unlimited Team Members 24/ 7 Phone Support</span
            >
            <button class="price-cards__card__main__button">purchase</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
