<section>
  <div class="container">
    <div class="editor-content">
      <h2 class="editor-content__tittle">Revolutionary editor</h2>
      <p class="editor-content__desc">
        Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet
        vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
      </p>
      <div class="editor-content__statistics">
        <div class="editor-content__statistics__button">
          <div class="editor-content__statistics__button__content">
            <img class="svg-icon" src="images/eye-svgrepo-com.svg" alt="" />
            <span class="button-content__text">Watch</span>
          </div>
          <span class="statistic">1,397</span>
        </div>

        <div class="editor-content__statistics__button">
          <div class="editor-content__statistics__button__content">
            <img class="svg-icon" src="images/star-svgrepo-com.svg" alt="" />
            <span class="button-content__text">Star</span>
          </div>
          <span class="statistic">21,038</span>
        </div>

        <div class="editor-content__statistics__button">
          <div class="editor-content__statistics__button__content">
            <img class="svg-icon" src="images/fork-svgrepo-com.svg" alt="" />
            <span class="button-content__text">Fork</span>
          </div>
          <span class="statistic">4,391</span>
        </div>
      </div>
    </div>
  </div>
</section>
