<section class="talking">
    <div class="container">
        <div class="talking__wrapper">
            <h2 class="talking__title">People Are Talking About Fork</h2>
            <div class="talking__content">
                <div class="talking__item">
                    <div class="talking__logo"><img src="images/logo1.png" alt="logo"></div>
                    <p class="talking__txt">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id
                        dignissim magna. Sed varius urna et pulvinar venenatis. </p>
                </div>
                <div class="talking__item">
                    <div class="talking__logo"><img src="images/logo2.png" alt="logo"></div>
                    <p class="talking__txt">Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus
                        molestie
                        neque ac, mollis eleifend nibh.</p>
                </div>
                <div class="talking__item">
                    <div class="talking__logo"><img src="images/logo3.png" alt="logo"></div>
                    <p class="talking__txt">In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat
                        fringilla,
                        imperdiet nibh. Morbi tempus auctor felis ac vehicula. </p>
                </div>
                <div class="talking__item">
                    <div class="talking__logo"><img src="images/logo4.png" alt="logo"></div>
                    <p class="talking__txt">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id
                        dignissim magna. Sed varius urna et pulvinar venenatis. </p>
                </div>
                <div class="talking__item">
                    <div class="talking__logo"><img src="images/logo5.png" alt="logo"></div>
                    <p class="talking__txt">Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla
                        faucibus
                        lorem id arcu consequat faucibus. </p>
                </div>
                <div class="talking__item">
                    <div class="talking__logo"><img src="images/logo6.png" alt="logo"></div>
                    <p class="talking__txt">Fusce pharetra erat id odio blandit, nec pharetra eros venenatis.
                        Pellentesque
                        porttitor cursus massa et vestibulum.</p>
                </div>
            </div>
            <p class="talking__paragraph">Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis
                vitae
                aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum
                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
    </div>
</section>