$font-primary: "Montserrat", sans-serif;
$font-secondary: "Lato", sans-serif;

$color-purple-light: #8D81AC;
$color-purple-dark: #635c73;
$color-dark: #323232;
$color-light: #848e97;
$color-white: #fff;
$background-uget: #f4f4f4;

